<% content_for 'page_css' do -%>
    #content {
      text-align: center;
    }
    #content #login {
      background-color: #F5F1E2;
      border: 5px solid #EFEAD3;
      text-align: left;
      margin: 2em;
      margin-left: auto;
      margin-right: auto;
      padding-left: 20px;
      width: 23.5em;
    }
    #content #login h1 {
      font-size: 140%;    
      margin: 0;
      margin-top: 18px;
      margin-bottom: 18px;
    }
    #content #login label {
      float: left;
      clear: left;
      margin-top: 4px;
      width: 6em;
    }
    #content #login .textbox {
      font-size: 100%;
      width: 16em;
    }
    #content #login .buttons {
      margin-top: 15px;
      margin-bottom: 20px;
    }
<% end -%>

<div id="login">
  <h1>Please Login</h1>

  <form method="post" action="">
    <p><label for="user_login">Username</label>
      <%= text_field "user", "login", :class => 'textbox', :value => '', :maxlength => 40 %></p>
    <p><label for="user_password">Password</label>
      <%= password_field "user", "password", :class => 'textbox', :value => '', :maxlength => 40 %></p>
    <p class="buttons">
      <%= submit_tag 'Login', :class => 'button' %>
    </p>
  </form>
</div>

<%= focus 'user_login' %>
