<% include_javascript 'sitemap' -%>

<h1>Pages</h1>

<table id="site-map" class="index" summary="Page hierarchy of the current site">
  <thead>
    <tr>
      <th class="page">Page</th>
      <th class="status">Status</th>
      <th class="modify" colspan="2">Modify</th>
    </tr>
  </thead>
  <tbody>
<% if @homepage -%>
<%= render_node @homepage -%>
<% else -%>
  <tr>
    <td colspan="4" class="note">No Pages</td>
  </tr>
<% end -%>
  </tbody>
</table>

<form action="<%= clear_cache_url %>" method="post">
  <p>
<% unless @homepage -%>
    <%= link_to image('new-homepage', :alt => 'New Homepage'), homepage_new_url %>
<% end -%>
    <%= image_submit 'clear-page-cache' %>
  </p>
</form>
