<% if @snippet.new_record? -%>
<h1>New Snippet</h1>
<% else -%>
<h1>Edit Snippet</h1>
<% end -%>

<form method="post" action="">
  <%= hidden_field "snippet", "lock_version" %>
  <div class="form-area">
    <p class="title">
      <label for="snippet_name">Name</label>
      <%= text_field "snippet", "name", :class => 'textbox', :maxlength => 100 %>
    </p>

    <p class="content">
      <label for="snippet_content">Body</label>
      <%= text_area "snippet", "content", :class => "textarea", :style => "width: 100%" %></p>
    <p>
      <label for="snippet_filter">Filter</label>
      <%= select_tag "snippet[filter_id]", options_for_select([['none', '']] + TextFilter.descendants.map { |f| f.filter_name }.sort, @snippet.filter_id), :id => 'snippet_filter' %>
    </p>
    <%= updated_stamp @snippet %>
  </div>
  <p class="buttons">
    <%= save_model_button(@snippet) %> <%= save_model_and_continue_editing_button(@snippet) %> or <%= link_to "Cancel", snippet_index_url %>
  </p>
</form>

<%= focus 'snippet_name' %>
