<h1>Remove Snippet</h1>
<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following snippet?</p>

<table id="snippets" class="index" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1" onmouseover="Element.addClassName(this, 'highlight');" onmouseout="Element.removeClassName(this, 'highlight');">
      <td class="snippet">
        <%= @snippet.name %>
      </td>
    </tr>
  </tbody>
</table>

<form method="post" action="">
  <p class="buttons"><%= submit_tag "Delete Snippet", :class => 'button' %> or <%= link_to 'Cancel', snippet_index_url %></p>
</form>
