<h1>Remove Layout</h1>
<p>Are you sure you want to <strong class="warning">permanently remove</strong> the following layout?</p>

<table id="site-map" class="index" cellpadding="0" cellspacing="0" border="0">
  <tbody>
    <tr class="node level-1" onmouseover="Element.addClassName(this, 'highlight');" onmouseout="Element.removeClassName(this, 'highlight');">
      <td class="layout">
        <%= image 'layout', :alt => 'layout-icon', :title => '' %>
        <%= @layout.name %>
      </td>
    </tr>
  </tbody>
</table>

<form method="post" action="">
  <p class="buttons"><%= submit_tag "Delete Layout", :class => 'button' %> or <%= link_to 'Cancel', layout_index_url %></p>
</form>
